

<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Recuperar senha</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="resetPassword()" #loginForm='ngForm'>
      <div class="modal-body mx-3">
        
        
       
          <div class="md-form mb-4">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input  id="form2" class="form-control validate"  type="email" name="email"  name="email" [(ngModel)]="email"  required>
          <label data-error="Errado!" data-success="certo!" for="form2">Introduza seu email</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
          <input type="submit" [disabled]="!loginForm.valid" class="btn btn-secondary" value="Enviar" style="background-color: #4a148c !important">
      </div>
    </form>
    </div>
  </div>
</div>

<div class="text-center">
  
</div>