
<router-outlet></router-outlet>

<app-button class="buttons" id="btnFadeTog"></app-button>

<footer class="page-footer font-small bg-white mt-3 fixed-bottom z-depth-5 largeDevice carousel slide carousel-multi-item v-2"
id="carousel-example-multi"  data-ride="carousel"
>


  <div class="footer-copyright text-center py-3 bg-white z-depth-5">
    <div class="col-sm-12">
      <div class=" flex-center text-center">


        <a class="fb-ic" routerLink="/"  >
          <i class="fa fa-home fa-lg text-dark  mr-3 fa-2x" [routerLinkActive]="['active', 'animated', 'heartBeat']" [routerLinkActiveOptions]="{exact:
            true}"> </i>
        </a>

        <a class="tw-ic"  routerLink="/categorias" >
          <i class="fas fa-bars fa-lg text-dark  mr-3 fa-2x"  [routerLinkActive]="['active', 'animated', 'heartBeat']" [routerLinkActiveOptions]="{exact:
          true}"> </i>
        </a>

        <a class="gplus-ic">
          <i class="fab fas fa-cart-plus fa-lg text-dark  mr-3 fa-2x"  [routerLinkActive]="['active', 'animated', 'heartBeat']" [routerLinkActiveOptions]="{exact:
          true}"> </i>
        </a>

        <a class="li-ic">
          <i class="fab fas fa-heart fa-lg text-dark  mr-3 fa-2x"  [routerLinkActive]="['active', 'animated', 'heartBeat']" [routerLinkActiveOptions]="{exact:
          true}"> </i>
        </a>

        <a class="ins-ic">
          <i class="fab fas fa-poll fa-lg text-dark  mr-3 fa-2x"  [routerLinkActive]="['active', 'animated', 'heartBeat']" [routerLinkActiveOptions]="{exact:
          true}"> </i>
        </a>

        <a class="pin-ic">
          <i class="fas fa-bell fa-lg text-dark fa-2x"  [routerLinkActive]="['active', 'animated', 'heartBeat']" [routerLinkActiveOptions]="{exact:
          true}"> </i>
        </a>
      </div>
    </div>
  </div>


</footer>

