<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <router-outlet></router-outlet>

  <div id="notfound">
		<div class="notfound-bg"></div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>lamentamos, mas a página solicitada não foi encontrada</h2>
			<a routerLink="" class="home-btn">Página inicial</a>
			<a href="https://savanapoint.com/#contact-us" target="_blank" class="contact-btn">Contacte-nos</a>
			<div class="notfound-social">
				<a href="https://www.instagram.com/nabolada/" target="_blank"><i class="fa fa-instagram"></i></a>
				<a  href="https://twitter.com/nabolada1" target="_blank"><i class="fa fa-twitter"></i></a>
				
			</div>
		</div>
	</div>
</body>
</html>
