<!-- Section: Products v.5 -->
<section class="text-center">


  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <ol class="carousel-indicators">
      <li class="primary-color active" data-target="#multi-item-example" data-slide-to="0"></li>
      <li class="primary-color" data-target="#multi-item-example" data-slide-to="1"></li>
      <li class="primary-color" data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">
        <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">

          <div class="card card-cascade narrower card-ecommerce">

            <div class="view view-cascade overlay">
              <img src="https://cdn.pixabay.com/photo/2019/08/14/13/45/sunset-4405820_960_720.jpg"
                class="card-img-top" alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>


          </div>

        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 mb-2 clearfix d-none d-md-block">

          <div class="card card-cascade narrower card-ecommerce">

            <div class="view view-cascade overlay">
              <img src="https://cdn.pixabay.com/photo/2019/08/14/13/45/sunset-4405820_960_720.jpg"
                class="card-img-top" alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>



          </div>

        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 mb-2 clearfix d-none d-md-block">

          <div class="card card-cascade narrower card-ecommerce">

            <div class="view view-cascade overlay">
              <img src="https://mdbootstrap.com/img/Photos/Others/img%20(31).jpg" class="card-img-top"
                alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>



          </div>

        </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12 mb-2">

          <div class="card card-cascade narrower card-ecommerce">

            <div class="view view-cascade overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(30).jpg"
                class="card-img-top" alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>


            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(37).jpg"
                class="card-img-top" alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->

            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(31).jpg"
                class="card-img-top" alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->

            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        </div>
      </div>
      <!-- Second slide -->
      <!--Third slide -->
      <div class="carousel-item">
        <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12 mb-2">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(38).jpg"
                class="card-img-top" alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->

            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/belt.jpg" class="card-img-top"
                alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->

            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 mb-2 clearfix d-none d-md-block">
          <!-- Card -->
          <div class="card card-cascade narrower card-ecommerce">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(57).jpg"
                class="card-img-top" alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

          </div>
          <!-- Card -->
        </div>
        </div>
      </div>
      <!--Third slide -->
    </div>
    <!-- Slides -->
  </div>
  <!-- Carousel Wrapper -->

</section>
<!-- Section: Products v.5 -->
