

<!--<br><br> <br><br> -->

<section id="books" >

  <div class="container">

<h1 class="text-center">iTrend</h1>
      <div class="row justify-content-center">

        <div class="col-md-6">
          <div class="input-group md-form form-sm pl-0">
          <input class="form-control my-0 py-1" type="text" placeholder="Estou buscando por ..." aria-label="Search"
            name="filterPosts" [(ngModel)]="filterPosts">
          <div class="input-group-append">
            <span class="input-group-text amber lighten-3" id="basic-text1"><i class="fas fa-search"
                aria-hidden="true"></i></span>
          </div>
        </div>
        </div>
      </div>








    <div class="row z-depth-5 justify-content-around">


      <!-- <div  class=" col-auto col-lg-3 col-sm-6 my-1 rounded  fadeIn " *ngFor="let book of books | filter:filterPosts | orderBy: order:'desc'"> -->

        <div  class="my-1 rounded  fadeIn " *ngFor="let book of books | filter:filterPosts | orderBy: order:'desc'">



        <form  name="formBook" #formBook="ngForm" (ngSubmit)="onSaveBook(formBook)" >
          <input  type="hidden" name="views">

        <a  routerLink="/detalhe/{{book.id}}"  class="rown">

          <a  id="setviews" (click)="this.saveViews(book.id)">


          <div class="view overlay product-img column">
            <img src="{{book.urlImage}}" class="img-fluid " alt="smaple image">

            <div class="mask flex-center rgba-white-strong">


              <a routerLink="/detalhe/{{book.id}}" class="dark-grey-text">
              <div class="card align-items-center viewMy">

                <div class="view overlay">

                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <div class="card-body text-center">
              <strong>
                <a href="" class="dark-grey-text">
                  <span class="badge badge-warning" *ngIf="book.situacao">{{book.situacao}}
                  </span>
                </a>
              </strong>


                  <h6 class="blue-text">
                    <strong>
                      <a href="" class="dark-grey-text">
                        <span class="badge danger-color" *ngIf="book.situacao">MZN {{book.precio}}
                        </span>
                      </a>
                    </strong>
                  </h6>
                  <span>{{book.titulo}}</span>

                </div>

              </div>
              </a>
            </div>
            <div class="row justify-content-center card precio-display">

      <div class="col-sm-12">
        <h6 class="text-center">





              <a href="" class="dark-grey-text my-5">
                <span class="badge danger-color" *ngIf="book.situacao">MZN {{book.precio}}
                </span>
              </a>



        </h6>
      </div>
            </div>
          </div>
        </a>
        </a>

      </form>
            </div>

      </div>


    </div>

</section>



<!-- <app-sidenav></app-sidenav> -->

<app-modal [userUid]="userUid"></app-modal>





