



  <div class="page-wrapper chiller-theme toggled" *ngIf="isLogged">
    <a id="show-sidebar" class="btn btn-sm btn-dark btn-bar" >
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a >iTrends</a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-header">
          <div class="row justify-content-center"
          >
            <a  routerLink="/profile" class="none">
              <div class="user-pic text-center" routerLink="/profile">
                <img  class="rounded-circle mx-auto d-block img-responsive img-fluid img-rounded"  src="{{user.photoUrl}}"
                  alt="User picture">
              </div>
            </a>
          </div>
  
          <div class="row justify-content-center">
            <div class="user-info">
              <span class="user-name" >
                <strong class="text-center">{{user.name}}</strong>
              </span>
              <span class="user-role">Administrator</span>
              <span class="user-status">
                <i class="fa fa-circle"></i>
                <span>Online</span>
              </span>
            </div>
          </div>
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-search">
          <div>
            <div class="input-group">
              <input type="text" class="form-control search-menu" placeholder="Search...">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>General</span>
            </li>
            <li class="sidebar-dropdown">
              <a >
                <i class="fa fa-tachometer-alt"></i>
                <span>Dashboard</span>
                <span class="badge badge-pill badge-warning">Novo</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a routerLinkActive="active" routerLink="/posts">Post
                      <span class="badge badge-pill badge-success">Pro</span>
                    </a>
                  </li>
                  <li>
                    <a >Dashboard 2</a>
                  </li>
                  <li>
                    <a >Dashboard 3</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a >
                <i class="fa fa-shopping-cart"></i>
                <span>E-commerce</span>
                <span class="badge badge-pill badge-danger">3</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a >Products
  
                    </a>
                  </li>
                  <li>
                    <a >Orders</a>
                  </li>
                  <li>
                    <a >Credit cart</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a >
                <i class="far fa-gem"></i>
                <span>Components</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a >General</a>
                  </li>
                  <li>
                    <a >Panels</a>
                  </li>
                  <li>
                    <a >Tables</a>
                  </li>
                  <li>
                    <a >Icons</a>
                  </li>
                  <li>
                    <a >Forms</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a >
                <i class="fa fa-chart-line"></i>
                <span>Charts</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a >Pie chart</a>
                  </li>
                  <li>
                    <a >Line chart</a>
                  </li>
                  <li>
                    <a >Bar chart</a>
                  </li>
                  <li>
                    <a >Histogram</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a >
                <i class="fa fa-globe"></i>
                <span>Maps</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a >Google maps</a>
                  </li>
                  <li>
                    <a >Open street map</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header-menu">
              <span>Extra</span>
            </li>
            <li>
              <a >
                <i class="fa fa-book"></i>
                <span>Documentation</span>
                <span class="badge badge-pill badge-primary">Beta</span>
              </a>
            </li>
            <li>
              <a >
                <i class="fa fa-calendar"></i>
                <span>Calendar</span>
              </a>
            </li>
            <li>
              <a >
                <i class="fa fa-folder"></i>
                <span>Examples</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->
      <div class="sidebar-footer">
        <a >
          <i class="fa fa-bell"></i>
          <span class="badge badge-pill badge-warning notification">3</span>
        </a>
        <a >
          <i class="fa fa-envelope"></i>
          <span class="badge badge-pill badge-success notification">7</span>
        </a>
        <a >
          <i class="fa fa-cog"></i>
          <span class="badge-sonar"></span>
        </a>
  
  
  
        <a  (click)="onLogout()">
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    </nav>
  
    <main class="page-content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
  
    </main>
  
  </div>
  
  <app-button class="buttons" id="btnFadeTog"></app-button>
  